<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class='profile' src="/img/profile.jpg" alt="profile image">
        <p>About App: This is app is using the data of mapbox.com
            for location co-ordinates
            and also drksky.net for get
            weather report .
        </p>
    </div>
    {{>footer}}
</body>

</html>