<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class='profile' src="/img/profile.jpg" alt="profile image">
        <p>About me: Ea sit duo sed takimata sed vero diam dolores nonumy. Dolore ea consetetur tempor dolores dolores.
            Et
            dolore kasd gubergren justo dolor invidunt accusam magna. Sit at sit sit est. No dolore accusam no et elitr
            ipsum voluptua. No sed.</p>
    </div>
    {{>footer}}
</body>

</html>