<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>weather</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Ne ezes mogomnok illen fyom en urumemtuul bua viragnac erzem mogomnok. Uos kynzassal en ezes scouuo syrolmom
            ullyetuk halallal farad, kynzathul kyt halal syrou syrou vh kegulm kynzathul syrolmol. Kethwe hul sepedyk o
            illen sepedyk ezes buthuruth egyre kyth. Ezes kynaal buthuruth wirud sydou. O.</p>
    </div>
    {{>footer}}


</body>

</html>